/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@mixin respond-to($media) {
    @if $media == tablet {
        @media only screen and (min-width: 768px) and (max-width: 1199px) { @content; }
    }
}


/* vars*/
$ptsans: 'PT Sans', sans-serif;
$blue: #81b3d2;
$dblue: #669ec0;
$brown: #766357;
$dbrown: #604e43;
@import "compass/reset";

input:focus{
	outline: none;
}
a{
	text-decoration: none;
	&.btn{
		display: inline-block;
		padding: 10px 30px;
		color: #fff;
		text-transform: uppercase;
		font-weight: bold;
		font-family: $ptsans;
		font-size: 14px;
		text-align: center;
		-webkit-transition: all .3s;
		transition: all .3s
	}
	&.btn__blue{
		background: $blue;
		&:hover{
			background: $dblue;
		}
		&:active{
			background: $dblue;
			color: #88b6d1;
		}
	}
	&.btn__brown{
		background: $brown;
		&:hover{
			background: $dbrown;
		}
		&:active{
			background: $dbrown;
			color: #857871;	
		}
	}
	&.btn__description{
		width: 113px;
		box-sizing: border-box;
	}
}

/* --------------- reset.css --------------- */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}




body{
	background-color: #f2f2f2;
	@include respond-to(tablet) {
		width: 100%;
	}
}
.wrap{
	overflow: hidden;
	width: 1200px;
	margin: 0 auto;
	background-color: #fff;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25);
	@include respond-to(tablet) {
		width: 100%;
		box-sizing: border-box;
		box-shadow: none;
	}
	
}
/* logo */



/* header*/
header{
	position: relative;
	width: 100%;
	top: 0;
	padding: 22px 75px;
	z-index: 1;
	box-sizing: border-box;		
	background:#fff;
	@include respond-to(tablet) {
		padding: 22px 30px;
	}
	&.hide{
		display: none;
		position: fixed;
		width: 1200px;
		background: rgba(255,255,255,.6);

	}
	.logo{
		position: absolute;
		top: 0;
		left: 50%;
		width: 138px;
		-webkit-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
		        transform: translateX(-50%);
		z-index: 2;
		img{
			display: block;
		}
	}	
	nav{
		width: 100%;
		position: relative;
		.header-menu{
			float: left;
			width: 50%;
			text-align: left;
		}
		.header-menu__right{
			text-align: right;
			li{
				margin: 0 0 0 150px;
				@include respond-to(tablet) {
					margin: 0 0 0 55px;
				}
			}
		}
		li{
			display: inline-block;
			text-align: center;
			margin: 0 155px 0 0;
			@include respond-to(tablet) {
				margin: 0 55px 0 0;
			}
		}
		a{
			color: #000;
			font:{
				family: $ptsans;
				size: 14px;
				weight: bold;
			}
			text-transform: uppercase;
			-webkit-transition: all .3s;
			transition: all .3s;
			&.active,
			&:hover{
				color: $blue;
			}			
		}
	}

	#gallery{
		display: none;
	}

}
/* header end */
/* title */
.title{
	width: 100%;
	position: relative;
	padding: 136px 0 83px 0;
	background:{
		image: url(../img/background-main.jpg);
		repeat: no-repeat;
		position: top center;
		size: cover;
	}
	@include respond-to(tablet) {
		padding: 75px 0 83px 0;
	}
	.title-text{
		width: 100%;
		img{
			display: block;
			margin: 0 auto;
			-webkit-transition: all .3s;
			transition: all .3s
		}
	}
	.title-decoration{
		width: 100%;
		height: 57px;
		position: absolute;
		bottom: -1px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
		        transform: translateX(-50%);
		background: {
			image: url(../img/decoration.png);
			size: cover;
		}
		@include respond-to(tablet) {
			width: 768px;
			height: 36px;

		}
	}
}
/* title end */
/* main */
.info{
	width: 100%;
	padding: 60px 0 0 0;
	.info-about{
		padding: 0 0 55px 0;
		text-align: center;
		text-transform: uppercase;
		h3{
			width: 448px;
			margin: 0 auto;
			font:{
				family: $ptsans;
				size: 21px;
				weight: bold;			
			}
			line-height: 26px;
			padding: 0 0 36px 0;
		}
		p{
			font:{
				family: $ptsans;
				size: 14px;
			}
			line-height: 24px;
		}
	}
	.info-items{
		width: 100%;
	}
	.info-items__grey{
		background: #eee;
	}
	.info-item{
		opacity: 0;
		width: 33.33%;
		float: left;
		text-align: center;
		padding: 60px 70px 85px 70px;
		box-sizing: border-box;
		h3{
			font:{
				family: $ptsans;
				size: 21px;
				weight: bold;
			}
			color: #000;
			text-transform: uppercase;
			padding: 30px 0;
		}
		p{
			font:{
				family: $ptsans;
				size: 14px;
			}
			line-height: 21px;
			color: #000;
			text-transform: uppercase;
			&.number{
				padding: 0 0 30px 0;
			}
		}
		@include respond-to(tablet) {
			padding: 55px 46px 65px 46px;
		}
	}
	.info-bg{
		opacity: 0;
		float: left;
		width: 800px;
		
		background-position: center center;
		background-size: cover;
		@include respond-to(tablet) {
			width: 66.66%;
		}
		
	}
	.info-item__blue{
		width: 400px;
		height: 267px;
		background: $blue;
		padding: 55px 70px 60px 70px;
		overflow: hidden;
		h3{
			padding: 0 0 17px 0;
			color: #fff;
		}
		p{
			color: #fff;
		}
		@include respond-to(tablet) {
			width: 33.33%;
			padding: 45px 47px 50px 47px;
		}
	}
	.info-item__grey{
		background: #eee;
		padding: 50px 70px 65px 70px;
		h3{
			padding: 0 0 13px 0;
		}
		@include respond-to(tablet) {
			padding: 55px 46px 65px 46px;
		}
	}
}	
/* main end */
/* hotel */
.hotel{
	width: 100%;
	padding: 50px 0 0 0;
	text-align: center;
	text-transform: uppercase;
	h2{
		padding: 0 0 35px 0;
		font:{
			size: 30px;
			family: $ptsans;
			weight: bold;
		}
	}
	p{
		padding: 0 0 50px 0;
		font:{
			size: 14px;
			family: $ptsans;
		}
		line-height: 24px;
	}
}
.hotel-search{
	width: 568px;
	margin: 0 auto;
	a.btn{
		box-sizing: border-box;
		padding: 30px 135px;
		font-size: 21px;
	}
	a.btn__brown{
		width: 100%;
	}
	.hotel-search-form{
		/* width: 100%;*/
		background: #fff;
		padding: 39px 55px 55px 55px;
		margin: 0 0 50px 0;
		box-sizing: border-box;
		box-shadow: -5px 0px 15px 0px rgba(0,0,0,0.05),
					5px 0px 15px 0px rgba(0,0,0,0.05),
					0px 10px 25px 0px rgba(0,0,0,0.10);
		.btn{
			width: 100%;
			padding: 15px 0;
		}
		&.hidden{
			display: none;
		}
	}
	.hotel-search-form-items{
		padding: 0 0 39px 0;
	}
	.hotel-search-form-row{
		padding: 16px 0;
		width: 100%;
		p{
			float: left;
			padding: 10px 0 0 0;
			width: 112px;
			font:{
				size: 14px;
				family: $ptsans;
				weight: bold;
			}
			text-transform: uppercase;
			text-align: left;
			white-space: nowrap;
			box-sizing: border-box;
		}	
		input{
			position: relative;
			float: left;
			width: 346px;
			box-sizing: border-box;
			text-transform: uppercase;
			font:{
				size: 14px;
				family: $ptsans;
				weight: bold;
			}
			padding: 12px;
			border: none;
			background: #f2f2f2;
			border: 2px solid transparent;
			-webkit-transition: all .3s;
			transition: all .3s;
			&:hover{
				background: #ebebeb;
			}
			&:focus{
				background: #fff;
				border-color: #e5e5e5;
			}
		}
	}
	.hotel-search-form-row-col{
		width: 50%;
		float: left;
		p.child{
			padding: 10px 0 0 40px;
		}
		form{
			width: 116px;
			float: left;
		}
		input{
			width: 100%;
			box-sizing: border-box;
			padding: 12px 20px;
			text-align: center;
		}
	}
	form{
		position: relative;
		.icon-calendar{
			display: inline-block;
			position: absolute;
			top: 50%;
			right: 10px;
			-webkit-transform: translateY(-50%);
			    -ms-transform: translateY(-50%);
			        transform: translateY(-50%);
			color: #c2c2c2;
		}
		.icon-plus,
		.icon-minus{
			display: inline-block;
			position: absolute;
			padding: 5px;
			text-align: center;
			top: 50%;
			color: #a9a9a9;
			-webkit-transform: translateY(-50%);
			    -ms-transform: translateY(-50%);
			        transform: translateY(-50%);
			z-index: 1;
			cursor: pointer;
		}
		.icon-minus{
			left: 5px;
		}
		.icon-plus{
			right: 5px;
		}
		.ui-state-highlight{
			background: $blue;
		}
	}
}
.hotel-search-form-modal{
	position: fixed;
	left: 50%;
	top: -100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	width: 568px;
	z-index: 100;
	-webkit-transition: all .5s;
	transition: all .5s;
	.hotel-search-form-row p{
		padding: 15px 0 0 0
	}
	a.btn__close .icon-plus{
		position: absolute;
		top: 10px;
		right: 10px;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
		color: #000;
		font:{
			size: 20px;
		}
		-webkit-transition: color .3s;
		transition: color .3s;
		&:hover{
			color: #ccc;
		}
	}
	&.show{
		top: 50%;
		-webkit-transition: all .5s;
		transition: all .5s;
	}
}
#cover{
	background: #fff;
	opacity: .6;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}
/* hotel end */
/* map */
#map_canvas{
	height: 470px;
}
/* map end */

/*  selection  */
.selection{
	padding: 30px 70px 25px 70px;
	background:{
		image: url(../img/background-hotels.jpg);
		position: center center;
		size: cover;
	}
	@include respond-to(tablet) {
		padding: 30px;
	}
	.selection-items{
		position: relative;
	}
	.selection-item{
		float: left;
		margin: 0 100px 0 0;
		p,
		label{
			font:{
				family: $ptsans;
			}
			color: #fff;
			text-transform: uppercase;
		}
		p{
			font-size: 16px;
			font-weight: bold;
			padding: 0 0 25px 0;
		}
		label{
			font-size: 14px;
			display: inline-block;
			margin: 0 0 25px 0;
		}
		
		input[type="checkbox"] {
		    display:none;
		}
		input[type="checkbox"] + label{
			cursor: pointer;
		}
		input[type="checkbox"] + label span:before {
		    display:inline-block;
		    width:20px;
		    margin: 0px 20px 0 0;
		    vertical-align:middle;
		    content: "\02610";
		    font-size: 26px;
		    font-family: 'symbols-sedona';
			color: #fff;
		}
		input[type="checkbox"]:checked + label span:before {
		    content: "\02611";

		}
	}
	.selection-item__price{
		position: absolute;
		top: 0;
		right: 0;
		width: 320px;
		margin: 0;
		@include respond-to(tablet) {
			width: 220px;
		}
	}
	.price-slider{
		.ranges{
			position: relative;
			width: 100%;
			border: 2px solid #fff;
			border-radius: 3px;
			margin: 0 0 20px 0;
		}
		.ranges-selector{
			position: absolute;
			left: 50%;
			top: 50%;
			width: 2px;
			height: 23px;
			background: #fff;
			-webkit-transform: translate(-50%, -50%);
			    -ms-transform: translate(-50%, -50%);
			        transform: translate(-50%, -50%)

		}
		.ranges-item{
			float: left;
			width: 50%;
			padding: 10px 0;
			text-align: center;
		}
		span{
			font:{
				family: $ptsans;
				size: 14px;
			}
			text-transform: uppercase;
			color: #fff;
		}
		.trackbar-wrap{
			position: relative;
			padding: 0 0 32px 0;	
		}
		/* .trackbar{*/
		/* 	width: 100%;	*/
		/* 	position: relative;	*/
		/* }*/
		.ui-slider-horizontal{
		/* .price-slider-horizontal{*/
			position: absolute;
			left: 0;
			top: 0;
			height: 2px;
			width: 100%;
			background: #fff;	
		}
		.ui-slider{
			background: rgba(255,255,255,.6);
		}
		.ui-widget-header{
			background: #fff;
		}
		.ui-slider-handle{
			background: #fff;
		}
		#slider-range{
			border: none;
		}
		.ui-slider-handle{
		/* .price-slider-handle{*/
			position: absolute;
			left: -11px;
			top: 50%;
			width: 4px;
			height: 4px;
			background: #ababab;
			border: 9px solid #fff;
			border-radius: 50%;
			cursor: pointer;
			-webkit-transform: translateY(-50%);
			    -ms-transform: translateY(-50%);
			        transform: translateY(-50%);
			/* box-sizing: border-box;*/
			&:hover{
				background: $dblue;
			}
			&:focus{
				outline: none;
			}
		}
		.btn{
			box-sizing: border-box;
			display: block;
			width: 135px;
			background: none;
			border-radius: 3px;
			border: 2px solid #fff;
			margin: 0 auto;
			-webkit-transition: all .3s;
			transition: all .3s;
			&:hover{
				background: rgba(255, 255, 255, .3);
			}
		}
	}
}
.sort{
	position: relative;
	padding: 35px 70px;
	border-bottom: 1px solid #e5e5e5;
	@include respond-to(tablet) {
		padding: 30px;
	}
	.sort-items{
		position: relative;
	}
	.sort-title{
		display: inline-block;
		width: 150px;
		font:{
			size: 21px;
			weight: bold;
			family: $ptsans;
		}
		text-transform: uppercase;
	}
	.sort-content{
		display: inline-block;
		font:{
			family: $ptsans;
			size: 12px;
		}
		text-transform: uppercase;
		p,
		ul{
			float: left;
		}
		p{
			padding: 0 35px 0 0;
		}
		li{
			float: left;
			margin: 0 30px 0 0;
			&.active a{
				color: $blue;
				border: none;
				cursor: default;
			}
			&:hover a{
				color: $blue
			}
		}
		a{
			color: #b1b1b1;
			border-bottom: 1px dotted $blue;
			-webkit-transition: all .3s;
			transition: all .3s;
		}
	}
	.sort-angles{
		position: absolute;
		top: 50%;
		right: 0;
		-webkit-transform: translateY(-50%);
		    -ms-transform: translateY(-50%);
		        transform: translateY(-50%);
	}
	.icon-down-dir,
	.icon-up-dir{
		font-size: 23px;
		width: 12px;
		color: #ccc;
		cursor: pointer;
		-webkit-transition: all .3s;
		transition: all .3s;
		&:hover{
			color: $blue;
		}
		&.active{
			color: $blue;
			cursor: default;
		}
	}
}
.cat-list{
	p{
		font:{
			family: $ptsans;
			size: 14px;
		}
		text-transform: uppercase;
	}
	.cat-list-item-wrap{
		padding: 35px 70px;
		border-bottom: 1px solid #e5e5e5;
		&.hide{
			display: none;
		}
		@include respond-to(tablet) {
			padding: 30px;	
		}
	}
	.cat-list-item{
		position: relative;
		
	}
	.cat-image{
		position: absolute;
		left: 0;
		top: 0;
		margin: 0 30px 0 0;
		cursor: pointer;
		width: 135px;
		overflow: hidden;
		&:hover img{
		 		-webkit-transform: scale(1.1);
		 		    -ms-transform: scale(1.1);
		 		        transform: scale(1.1)
		}
		img{
			 display: block;
			 width: 100%;
			 max-width: 100%;
			-webkit-transition: all .2s;
			transition: all .2s;
		}
	}
	.cat-description{
		/* position: relative;*/
		margin: 0 0 0 165px;
	}
	.cat-about{
		h3{
			padding: 0 0 15px 0;
			font:{
				family: $ptsans;
				size: 21px;
				weight: bold;
			}
			text-transform: uppercase;
		}
	}
	.cat-about-item{
		float: left;
		margin: 0 7px 0 0;
		p{
			padding: 0 0 15px 0;
		}
		a{
			padding: 6px 18px;
		}
	}
	.cat-rank{
		position: absolute;
		top: 0;
		right: 0;
	}
	.cat-rank-stars{
		margin: 0 0 48px 0;
		text-align: right;
		i{
			font-size: 19px;
			color: $blue;
		}
	}
	.cat-rank-text{
		p{
			padding: 3px 10px;
			background: #f2f2f2;
		}
	}
	.cat-list-item-description{
		width: 100%;
		padding: 30px 0 0 0;
		display: none;
		.description-item-row{
			width: 100%;
			div{
				float: left;
				width: 33%;
				padding: 10px 10px 0 10px;
				box-sizing: border-box;

			}
			h3{
				border-bottom: 1px solid #e5e5e5;
				font:{
					family: $ptsans;
					size: 14px;
					weight: bold;
				}
				text-transform: uppercase;
				padding: 0 0 10px 0;
				margin: 0 0 10px 0
			}
			p, li{
				font:{
					family: $ptsans;
					size: 14px;
				}
				text-transform: uppercase;
			}
			p{
				padding: 0 0 10px 0;
				line-height: 20px;
			}
			li{
				padding: 0 0px 8px 0;
				&:before{
				    content: "\e803";
				    font-size: 10px;
				    font-family: 'symbols-sedona';
				    padding: 0 8px 0px 0;
				}
			}
		}
		.description-gallery{
			width: 75%;
			padding: 20px 0 0 0;
			margin: 0 auto;
			font-size: 0;
			text-align: center;
			img{
				display: inline-block;
				vertical-align: middle;
				width: 25%;
				padding: 0 5px;
				box-sizing: border-box;
			}
		}
	}

}
#preview{
	position:absolute;
	border:1px solid #ccc;
	background:#fff;
	padding:5px;
	display:none;
	color:#000;
	z-index: 20;
	font:{
		family: $ptsans;
		size: 14px;
	}
	text-transform: uppercase;
}
/* footer */
footer{
	padding: 35px 0 35px 130px;
	.footer-link{
		float: left;
		margin: 0 255px 0 0;
		a{
			font:{
				family: $ptsans;
				size: 21px;
				weight: bold;
			}
			line-height: 47px;
			vertical-align: middle;
			color: #000;
			text-transform: uppercase;
			-webkit-transition: color .3s;
			transition: color .3s;
			&:hover{
				color: $blue;
			}
		}
		@include respond-to(tablet) {
			margin: 0 106px 0 0;
		}
	}
	.footer-social{
		float: left;
	}
	.social-item{
		display: inline-block;
		width: 47px;
		height: 47px;
		margin: 0 6px 0 0;
		background: $blue;
		-webkit-transition: all .3s;
		transition: all .3s;
		text-align: center;
		&:hover{
			background:$dblue;
		}
		.icon-twitter,
		.icon-facebook,
		.icon-youtube{
			color: #fff;
			font-size: 19px;
			line-height: 47px;
			vertical-align: middle;
		}
	}
}


/* toTheTop Button */ 
.toTheTop{
	position: fixed;
	bottom: 50px;
	right: 50px;
	width: 50px;
	height: 50px;
	background: $blue;
	border: 1px solid #fff;
	text-align: center;
	-webkit-transition: all .3s;
	transition: all .3s;
	padding: 0px 0 0 0;
	box-sizing: border-box;
	display: none;
	.fa-angle-up{
		font-size: 45px;
		color: #fff;
		-webkit-transition: all .3s;
		transition: all .3s;
	}
	&:hover{
		background:$dblue;
		border-color: $blue;
		.fa-angle-up{
			color: $blue;
		}
	}
	&.up{
		display: block;
	}
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	border: 1px solid #766357;
	background: #766357;
	font-weight: normal;
	color: #ffffff;
}
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
	border: 1px solid #81b3d2;
	background: #81b3d2;
	color: #ffffff;
}
.ui-datepicker .ui-datepicker-title{
	font-family: $ptsans
}

$icon-sprite-dimensions: true;

@import "compass/utilities/sprites";
@import "icon/*.png";

@include all-icon-sprites;

.icon{
	display: inline-block;
}
